<breadcrumb>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">
        <a>{$state.title}</a>
    </li>
  </ol>
  <script>

    export default () => ({
      observe: [
        'title',
      ],
      state: {
        items: [],
      },

      onMounted(){

      },

    })
  </script>
</breadcrumb>