<showdown-nav>
  
  <a class="nav-link scrollto" each={item in $state.navItems} href={'#' + item.id}>
    <i if={item.icon} class={item.icon}></i>
    <img if={item.img} src={item.src} />
    {item.content}
  </a>

  <script>
    export default () => ({
      name: 'showdown-nav',
      observe: [
        'navItems',
      ],
      onMounted(){
      },
    })
  </script> 
</showdown-nav>