<breadcrumb>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">
        This
    </li>
  </ol>
  <script>
    export default () => ({

      state: {
        items: []
      },

      onMounted(){
        this.update({
          items: this.props.items || []
        })
      },

    })
  </script>
</breadcrumb>